                      /* GOOGLE FOONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

                        /* CSS VARIABLE */
 :root {
    --first-color: hsl(271, 76%, 53%);
    --title-color: hsl(0, 0%, 40%);
    --text-color: hsl(0, 0%, 50%);
    --body-color: hsl(0, 0%, 100%);
    --container-color: hsl(0, 0%, 93%);
    --border-color: hsl(0, 0%, 87%);
    --text-white: #fff;
                     /* FONTS */
    --body-fonts: 'open Sans', sans-serif;
    --second-font: "Poppins", sans-serif;

    --big-font-size:56px;
    --h1-font-size:50px;
    --h2-font-size:32px;
    --h3-font-size:30px;
    --large-font-size:18px;
    --normal-font-size:16px;
    --small-font-size:15px;
    --smaller-font-size:14px;
    --tiny-font-size:12px;

                    /* FONT WEIGHT */
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
    --weight-800: 800;
}

body,
input,
textarea {
    font-family: var(--body-fonts);
    font-size: var(--normal-font-size);
    font-weight: var(--weight-500);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--weight-700)
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

button,
input,
textarea{
    background-color: transparent;
    border: none;
    outline: none;
}

img{
    max-width: 100%;
}

p{
    margin-bottom: 20px;
}
                          /* REUSABLE CSS */
.grid{
    display: grid;
    grid-template: auto;
    gap: 30px;
}                          

.conatiner{
    max-width: 1024px;
    margin-inline: auto;
    padding-inline: 15px;
}

.section{
    padding-block: 70px;
    margin: auto  100px;
}

.section__title{
    font-size: var(--big-font-size);
    font-weight: var(--weight-800);
    text-align: center;
    margin-bottom: 20px;
}

.button{
    display: inline-block;
    color: var(--title-color);
    border: 1px solid var(--first-color);
    padding: 15px 70px 15px 35px;
    margin: auto;
    border-radius: 35px;
    font-family: var(--second-font);
    font-size: var(--small-font-size);
    font-weight: var(--weight-500);
    position: relative;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
}

.button:hover{
    color: var(--text-white);
}

.button:hover::before{
    transform: translateX(0);
}

.button::before{
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--first-color);
    transform: translateX(100%);
    z-index: -1;
    transition: all 0.3s ease-out;
}

.button__icon{
    background-color: var(--first-color);
    position: absolute;
    inset-block: -2px;
    right: 0;
    width: 55px;
    border-radius: 50%;
    color: var(--text-white);
    font-size: var(--large-font-size);
    text-align: center;
    line-height: 60px;
}
/*   
  .toggle-button {
    display: inline-block;
    color: black;
    border: 1px solid var(--first-color);
    border-radius: 35px;
    width: 10%;
    font-family: var(--second-font);
    font-size: var(--small-font-size);
    font-weight: var(--weight-500);
    margin: auto 45%;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #042f5c;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
  
  .toggle-button:hover {
    color: #eeff00;
  }
  
  .light-mode {
    background-color: #444446;
    color: #ffffff;
  }
  
  .dark-mode {
    background-color: #ffffff;
    color: #646161;
  }
  
  @media screen and (max-width: 768px) {
    .toggle-button {
        width: 30%;
        margin: auto;
    }
}

@media screen and (max-width: 480px) {
    .toggle-button {
        width: 50%;
        margin: auto;
    }
} */